<title>Spacesurf</title>

<a class="w3-left btn-grad" href="/stories">Feed</a>
<a class="w3-right btn-grad" href="/dashboard">Profile</a>
<a class="w3-right btn-grad" href="/auth/logout">Logout</a>

<style>
	.card-title{
		font-size: 10px;
	}
	.card-content{
		font-size: 15px;
	}
.black{
  background-color: black;
  color: white;
}
    .w3-bg{
        background-color: black;
        border: 0.6px solid rgb(75, 75, 75);
        border-radius: 0px;
    }
    .date{
      font-size:8px;
    }
</style>
<body class="black">
<div class="row black">
    <div class="col s12 m8">
        <h4>{{story.title}}
            <small>{{{editIcon story.user user story._id false}}}</small>
        </h4>
        <div class="card story black w3-bg">
            <div class="card-content">
                {{{story.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4 black">
        <div class="card center-align w3-bg">
            <div class="card-content">
                <span class="card-title">{{story.user.displayName}}</span>
                <a href="/stories/user/{{story.user._id}}">Read more from {{story.user.firstName}}</a>

            </div>

        </div>
    </div>
</div>
</body>